apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch
  namespace: infra-elk
  labels:
    app: elasticsearch
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      securityContext:
        runAsUser: 1000
        fsGroup: 1000

      initContainers:
        - name: configure-sysctl
          image: busybox:latest
          command: ["sysctl", "-w", "vm.max_map_count=262144"]
          securityContext:
            privileged: true
            runAsUser: 0

        - name: fix-permissions
          image: busybox:latest
          command: ["sh", "-c", "chown -R 1000:1000 /usr/share/elasticsearch/data"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: data
              mountPath: /usr/share/elasticsearch/data

      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0

          ports:
            - containerPort: 9200
              name: http
            - containerPort: 9300
              name: transport

          env:
            - name: node.name
              value: "es-standalone"
            - name: discovery.type
              value: "single-node"

            - name: xpack.security.enabled
              value: "true"
            - name: xpack.security.http.ssl.enabled
              value: "false"
            - name: ELASTIC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: elastic-credentials
                  key: password

            - name: ES_JAVA_OPTS
              value: "-XX:MaxRAMPercentage=50.0 -XX:MinRAMPercentage=50.0"

          resources:
            requests:
              memory: "1Gi"
            limits:
              memory: "2Gi"

          readinessProbe:
            tcpSocket:
              port: 9200
            initialDelaySeconds: 40
            periodSeconds: 20

          livenessProbe:
            tcpSocket:
              port: 9200
            initialDelaySeconds: 90
            periodSeconds: 30
            failureThreshold: 3

          volumeMounts:
            - name: data
              mountPath: /usr/share/elasticsearch/data

      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: elasticsearch-pvc