apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: flowin   # [통일] 완벽합니다!
data:
  my.cnf: |
    [client]
    default-character-set=utf8mb4

    [mysql]
    default-character-set=utf8mb4

    [mysqld]
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci
    init-connect='SET NAMES utf8mb4'

    default-time-zone='+09:00'

    performance_schema=OFF
    innodb_buffer_pool_size=256M

    skip-name-resolve
    
    bind-address=0.0.0.0