apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: infra-db
data:
  my.cnf: |
    [client]
    default-character-set=utf8mb4

    [mysql]
    default-character-set=utf8mb4

    [mysqld]
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci
    default-time-zone='+09:00'

    innodb_buffer_pool_size=256M  
    max_connections=100        
    performance_schema=OFF     
    skip-name-resolve         

    disable_log_bin             
    general_log=0