server:
  port: 8000

spring:
  application:
    name: GATEWAY-SERVICE

  cloud:

    gateway:

      server:
        webflux:
          routes:
#            - id: gateway 안에서 사용하는 이름
#              uri: lb://유레카에서 인지한 서비스의 이름
#              predicates:
#                - Path=/account/**
#                - Method=POST, PATCH, PUT, DELETE
#              filters:
#                - JwtValidationFiller
            ### 검증안하는 url

            ## login
            - id: account-login
              uri: lb://ACCOUNT-SERVICE
              predicates:
                - Path=/login
                - Method=Post
            - id: account-sign-up
              uri: lb://ACCOUNT-SERVICE
              predicates:
                - Path=/login/sign-up
                - Method=Post

            ### 검증하는 url

            ## account
            - id: account-service
              uri: lb://ACCOUNT-SERVICE
              predicates:
                - Path=/accounts/**
                - Method=GET, POST, PATCH, PUT, DELETE
              filters:
                - JwtValidationFiller

custom:
  jwt:
    cookie-name: FLOWIN-TOKEN
    secret:
      jwt-public-path: /public-key.pem
