server:
  port: 8000

spring:
  application:
    name: gateway-service

  cloud:

    gateway:

      server:
        webflux:
          routes:
#            #template#
#            - id: service-a
#              uri: lb://SERVICE-A
#              predicates:
#                - Path=/service-a/**
            - id:
              uri: lb://
              predicates:
                - Path=//**