apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
  namespace: infra-mq
data:
  KAFKA_HEAP_OPTS: "-Xms512m -Xmx512m -XX:+UseG1GC -XX:MaxGCPauseMillis=50"
  KAFKA_PROCESS_ROLES: "broker,controller"
  KAFKA_NODE_ID: "1"
  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@localhost:9091"
  KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
  KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9091"
  KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-service.infra-mq.svc.cluster.local:9092"
  KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
  KAFKA_SHARE_GROUP_ENABLE: "true"
  KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
  KAFKA_LOG_DIRS: "/var/lib/kafka/data"
  KAFKA_LOG_RETENTION_BYTES: "1073741824" # 1GB
  KAFKA_LOG_SEGMENT_BYTES: "536870912"    # 512MB
  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
  KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
  KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
  KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: "0"