apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch-config
  namespace: flowin
data:
  elasticsearch.yml: |
    cluster.name: "k3s-cluster"
    node.name: "es-node-01"
    network.host: 0.0.0.0

    # [핵심] 클러스터 선출 과정 생략 (빠른 기동 및 리소스 절약)
    discovery.type: single-node

    # 최소한의 보안(ID/PW)만 켜고, 무거운 SSL 암호화는 내부망 신뢰를 바탕으로 비활성화
    xpack.security.enabled: true
    xpack.security.enrollment.enabled: false
    xpack.security.http.ssl.enabled: false
    xpack.security.transport.ssl.enabled: false

    # [중요] JVM 메모리 OOM(Out of Memory) 방지를 위한 무거운 플러그인 셧다운
    xpack.ml.enabled: false                # 머신러닝 기능 OFF (최소 1GB 이상 메모리 절약)
    xpack.watcher.enabled: false           # 알림 기능 OFF
    ingest.geoip.downloader.enabled: false # GeoIP DB 실시간 업데이트 OFF

    # [중요] 인덱싱 및 쿼리 캐시 제한 (남은 메모리 보호)
    indices.memory.index_buffer_size: 10%
    indices.queries.cache.size: 5%
    
    path.data: /usr/share/elasticsearch/data
    path.logs: /usr/share/elasticsearch/logs