apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: flowin
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      initContainers:
        - name: volume-permissions
          image: busybox
          command: ["sh", "-c", "chown -R 1000:1000 /var/lib/kafka/data"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: kafka-data
              mountPath: /var/lib/kafka/data

      containers:
        - name: kafka
          image: apache/kafka:3.9.0
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 9092
              name: plaintext
            - containerPort: 9091
              name: controller

          env:
            - name: KAFKA_CLUSTER_ID
              value: "748e65ec-5278-4357-897d-691060f64797"

          envFrom:
            - configMapRef:
                name: kafka-config

          volumeMounts:
            - name: kafka-data
              mountPath: /var/lib/kafka/data

          resources:
            requests:
              memory: "512Mi"
            limits:
              memory: "1Gi"

          readinessProbe:
            tcpSocket:
              port: 9092
            initialDelaySeconds: 40
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 9092
            initialDelaySeconds: 60
            periodSeconds: 30

      volumes:
        - name: kafka-data
          persistentVolumeClaim:
            claimName: kafka-pvc