apiVersion: apps/v1

kind: Deployment

metadata:
  name: chroma
  namespace: flowin

spec:
  replicas: 1

  selector:
    matchLabels:
      app: chroma

  template:
    metadata:
      labels:
        app: chroma

    spec:

      containers:
        - name: chroma
          image: chromadb/chroma:1.0.15
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

          volumeMounts:
            - name: chroma-data
              mountPath: /data

      volumes:
        - name: chroma-data
          persistentVolumeClaim:
            claimName: chroma-pvc