name: image deploy

on:
  workflow_call: #불렀을 때만 사용
    inputs: #인자
      service-name: #서비스 이름
        required: true
        type: string
      tag_name:
        required: true
        type: string

env:
  DOCKER: docker.io

jobs:
  # Job 3. K3s 배포
  # 원격 EC2의 K3s 클러스터에 접속하여 알맞은 리소스를 배포하는 핵심 단계입니다.
  image-deploy:
    name: K3s 배포
    runs-on: self-hosted

    permissions: #권한
      contents: read
      packages: write
      attestations: write

    steps:
      - name: Check out Repository
        uses: actions/checkout@v5

      # 클러스터 연결 (Secrets에 KUBE_CONFIG 등록 필수)
      - name: Configure Kubernetes Context
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
      # Gateway 배포 시에는 인프라(DB, MQ, ELK 등) 공통 설정까지 함께 배포하고,
      # 일반 서비스일 경우 해당 서비스의 파드만 배포합니다.

      # 조건부 배포 A, Gateway일 때 -> 전체 인프라(Config, Outer) + 게이트웨이 배포
      - name: Deploy Infrastructure & Gateway
        if: ${{ inputs.service-name == 'gateway-service' }}
        run: |
          echo "Deploying Configurations and PVCs"
          kubectl apply -f k3s/exec/config/db/
          kubectl apply -f k3s/exec/config/mq/
          kubectl apply -f k3s/exec/config/elk/
          kubectl apply -f k3s/exec/config/gateway/

          echo "Deploying Infrastructure (DB, MQ, ELK, LB)"
          kubectl apply -f k3s/exec/outer/db/
          kubectl apply -f k3s/exec/outer/mq/
          kubectl apply -f k3s/exec/outer/elk/
          kubectl apply -f k3s/exec/outer/lb/
          kubectl apply -f k3s/exec/outer/zipkin/
          
          echo "Deploying Gateway Service"
          kubectl apply -f k3s/exec/inner/gateway-service/

      # 조건부 배포 B, 일반 서비스일 때 -> 해당 서비스만 배포
      - name: Deploy Microservice
        if: ${{ inputs.service-name != 'gateway-service' }}
        run: |
          echo "Deploying ${{ inputs.service-name }}"
          # K8s YAML 파일 경로 수정 (exec/inner/...)
          kubectl apply -f k3s/exec/inner/${{ inputs.service-name }}/

      # 3. 파드 재시작(Rollout)
      # 이미지가 latest로 동일하더라도 K3s가 새 이미지를 당겨오도록
      # 기존 파드를 안전하게 껐다 켜는 무중단 롤아웃을 수행합니다.
      # 3. 파드 재시작(Rollout)
      - name: Update deployment image
        run: |
          kubectl set image deployment/${{ inputs.service-name }} \
            ${{ inputs.service-name }}=${{ env.DOCKER }}/${{ secrets.DOCKER_USERNAME }}/${{ inputs.service-name }}:${{ inputs.tag_name }}

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/${{ inputs.service-name }}