name: Build and Docker release

on:
  workflow_call: #불렀을 때만 사용
    inputs: #인자
      service-name: #서비스 이름
        required: true
        type: string
      tag_name:
        required: true
        type: string

env:
  DOCKER: docker.io

jobs:
  # job 2. 도커 이미지 빌드 및 K3s 배포
  # 코드를 빌드하여 도커 이미지를 만들고 Hub에 푸시한 뒤,
  # 원격 EC2의 K3s 클러스터에 접속하여 알맞은 리소스를 배포하는 핵심 단계입니다.
  build-image:
    name: 도커 이미지 빌드
    runs-on: ubuntu-latest
    needs: tagging #저 job의 반환값을 사용하겠다는 소리 -> tagging 끝나면 돌아간다는 소리

    permissions: #권한
      contents: read
      packages: write
      attestations: write

    steps:
      - name: Check out Repository
        uses: actions/checkout@v5

      # 1. 빌드 환경 세팅 및 도커 레지스트리 로그인
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Sign in github container registry #도커 로그인
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 메타데이터 작성
        id: meta
        uses: docker/metadata-action@v5
        with: #이미지 이름이랑 메타데이터 작성
          images: ${{ env.DOCKER }}/${{ secrets.DOCKER_USERNAME }}/${{ inputs.service-name }} #docker.io/username/OOOO-service
          # 버전 붙여주는거
          tags: |
            type=sha
            type=raw,value=${{ inputs.tag_name }}
            type=raw,value=latest

      # 2. 서비스별 설정 파일(YML/PEM) 주입
      # 각 마이크로서비스에 필요한 운영 환경 설정 파일과 보안 키를
      # GitHub Secrets에서 가져와 빌드 전 resources 폴더에 생성합니다.
      - name: account test yml pem 세팅
        if: ${{ inputs.service-name == 'account-service' }}
        run: |
          mkdir -p ./FLOWIN/account-service/src/main/resources
          echo '${{ secrets.ACCOUNT_PROD_YML }}' > ./FLOWIN/account-service/src/main/resources/application-prod.yml
          echo '${{ secrets.PRIVATE_KEY_PEM }}' > ./FLOWIN/account-service/src/main/resources/private-key.pem

      - name: gateway test yml pem 세팅
        if: ${{ inputs.service-name == 'gateway-service' }}
        run: |
          mkdir -p ./FLOWIN/gateway-service/src/main/resources
          echo '${{ secrets.GATEWAY_PROD_YML }}' > ./FLOWIN/gateway-service/src/main/resources/application-prod.yml
          echo '${{ secrets.PUBLIC_KEY_PEM }}' > ./FLOWIN/gateway-service/src/main/resources/public-key.pem

      - name: payment test yml pem 세팅
        if: ${{ inputs.service-name == 'payment-service' }}
        run: |
          mkdir -p ./FLOWIN/payment-service/src/main/resources
          echo '${{ secrets.PAYMENT_PROD_YML }}' > ./FLOWIN/payment-service/src/main/resources/application-prod.yml

      - name: performance test yml pem 세팅
        if: ${{ inputs.service-name == 'performance-service' }}
        run: |
          mkdir -p ./FLOWIN/performance-service/src/main/resources
          echo '${{ secrets.PERFORMANCE_PROD_YML }}' > ./FLOWIN/performance-service/src/main/resources/application-prod.yml

      - name: reservation test yml pem 세팅
        if: ${{ inputs.service-name == 'reservation-service' }}
        run: |
          mkdir -p ./FLOWIN/reservation-service/src/main/resources
          echo '${{ secrets.RESERVATION_PROD_YML }}' > ./FLOWIN/reservation-service/src/main/resources/application-prod.yml

      - name: ai test yml pem 세팅
        if: ${{ inputs.service-name == 'ai-service' }}
        run: |
          mkdir -p ./FLOWIN/ai-service/src/main/resources
          echo '${{ secrets.AI_PROD_YML }}' > ./FLOWIN/ai-service/src/main/resources/application-prod.yml

      # 3. 프로젝트 빌드 및 도커 이미지 푸시
      # 테스트를 건너뛰고(-x test) 빠르게 빌드한 뒤, 앞서 만든 메타데이터 태그를 붙여
      # Docker Hub에 이미지를 업로드합니다.
      - name: Build with Gradle
        working-directory: ./FLOWIN/${{ inputs.service-name }}
        env: # <--- 로봇에게 깃허브 패키지 출입증(토큰) 발급!
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test
        # 이미 CI에서는 테스트가 마무리 되었을테니 -x test를 통해 테스트 스킵하고 빌드

      - name: Push Image #빌드하고 푸시
        uses: docker/build-push-action@v6
        with:
          context: ./FLOWIN/${{ inputs.service-name }} # 빌드에 필요한 소스 코드가 위치한 경로
          file: ./FLOWIN/${{ inputs.service-name }}/Dockerfile #  이미지를 만드는 설계도인 Dockerfile의 정확한 위치
          push: true # 빌드가 완료된 후, 결과물(이미지)을 지정된 레지스트리에 즉시 업로드
          tags: ${{ steps.meta.outputs.tags }} # 이미지의 버전 이름(예: v1.0.0, latest)을 지정
          labels: ${{ steps.meta.outputs.labels }} # 이미지에 메타데이터(제작자, 빌드 날짜 등)를 추가 < 부가 정보