name: CI 스크립트

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string

jobs:
  code-test:
    name: 코드 테스트
    runs-on: ubuntu-latest

    steps:
      - name: 브랜치로 체크아웃
        uses: actions/checkout@v5

      - name: JDK 세팅
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

#      - 최상위 폴더에 스프링 구축 시 해결 됨. 현재는 없음.
#      - name: gradlew 권한 세팅
#        run: chmod +x ./gradlew

      - name: gradlew 권한 세팅
        run: chmod +x ./FLOWIN/${{ inputs.service-name }}/gradlew

      - name: 테스트 실행
        working-directory: ./FLOWIN/${{ inputs.service-name }}
        run: ./gradlew test --no-daemon